<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>ANU</string>
		<key>name</key>
		<string>Antigua</string>
		<key>capsname</key>
		<string>ANTIGUA</string>
		<key>latitude</key>
		<real>17.108334</real>
		<key>longitude</key>
		<real>-61.76389</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>BGI</string>
		<key>name</key>
		<string>Bridgetown</string>
		<key>capsname</key>
		<string>BRIDGETOWN</string>
		<key>latitude</key>
		<real>13.080732</real>
		<key>longitude</key>
		<real>-59.487835</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>BNE</string>
		<key>name</key>
		<string>Brisbane</string>
		<key>capsname</key>
		<string>BRISBANE</string>
		<key>latitude</key>
		<real>-27.40303</real>
		<key>longitude</key>
		<real>153.10905</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>BOM</string>
		<key>name</key>
		<string>Mumbai</string>
		<key>capsname</key>
		<string>MUMBAI</string>
		<key>latitude</key>
		<real>19.072501</real>
		<key>longitude</key>
		<real>72.246094</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>BOS</string>
		<key>name</key>
		<string>Boston</string>
		<key>capsname</key>
		<string>BOSTON</string>
		<key>latitude</key>
		<real>42.36646</real>
		<key>longitude</key>
		<real>-71.02018</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>BRU</string>
		<key>name</key>
		<string>Brussels</string>
		<key>capsname</key>
		<string>BRUSSELS</string>
		<key>latitude</key>
		<real>50.89717</real>
		<key>longitude</key>
		<real>4.483602</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>BWN</string>
		<key>name</key>
		<string>Brunei</string>
		<key>capsname</key>
		<string>BRUNEI</string>
		<key>latitude</key>
		<real>4.945197</real>
		<key>longitude</key>
		<real>114.93375</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>BZZ</string>
		<key>name</key>
		<string>Oxfordshire</string>
		<key>capsname</key>
		<string>OXFORDSHIRE</string>
		<key>latitude</key>
		<real>51.75</real>
		<key>longitude</key>
		<real>-1.587093</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>CDG</string>
		<key>name</key>
		<string>Paris</string>
		<key>capsname</key>
		<string>PARIS</string>
		<key>latitude</key>
		<real>49.003197</real>
		<key>longitude</key>
		<real>2.567023</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>CMB</string>
		<key>name</key>
		<string>Colombo</string>
		<key>capsname</key>
		<string>COLOMBO</string>
		<key>latitude</key>
		<real>7.174112</real>
		<key>longitude</key>
		<real>79.8865</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>COO</string>
		<key>name</key>
		<string>Cotonou</string>
		<key>capsname</key>
		<string>COTONOU</string>
		<key>latitude</key>
		<real>6.353097</real>
		<key>longitude</key>
		<real>2.385271</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>CPT</string>
		<key>name</key>
		<string>Cape Town</string>
		<key>capsname</key>
		<string>CAPE TOWN</string>
		<key>latitude</key>
		<real>-33.968906</real>
		<key>longitude</key>
		<real>18.596489</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>DEL</string>
		<key>name</key>
		<string>Delhi</string>
		<key>capsname</key>
		<string>DELHI</string>
		<key>latitude</key>
		<real>28.556555</real>
		<key>longitude</key>
		<real>77.10079</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>DUS</string>
		<key>name</key>
		<string>Düsseldorf</string>
		<key>capsname</key>
		<string>DÜSSELDORF</string>
		<key>latitude</key>
		<real>51.278328</real>
		<key>longitude</key>
		<real>6.76558</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>DXB</string>
		<key>name</key>
		<string>Dubai</string>
		<key>capsname</key>
		<string>DUBAI</string>
		<key>latitude</key>
		<real>25.248665</real>
		<key>longitude</key>
		<real>55.352917</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>EDI</string>
		<key>name</key>
		<string>Edinburgh</string>
		<key>capsname</key>
		<string>EDINBURGH</string>
		<key>latitude</key>
		<real>55.948143</real>
		<key>longitude</key>
		<real>-3.364177</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>EWR</string>
		<key>name</key>
		<string>New York Newark</string>
		<key>capsname</key>
		<string>NEW YORK NEWARK</string>
		<key>latitude</key>
		<real>40.68907</real>
		<key>longitude</key>
		<real>-74.17876</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>EZE</string>
		<key>name</key>
		<string>Ezeiza</string>
		<key>capsname</key>
		<string>EZEIZA</string>
		<key>latitude</key>
		<real>-34.81273</real>
		<key>longitude</key>
		<real>-58.539833</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>FRA</string>
		<key>name</key>
		<string>Frankfurt</string>
		<key>capsname</key>
		<string>FRANKFURT</string>
		<key>latitude</key>
		<real>50.050735</real>
		<key>longitude</key>
		<real>8.570773000000001</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>GLA</string>
		<key>name</key>
		<string>Glasgow</string>
		<key>capsname</key>
		<string>GLASGOW</string>
		<key>latitude</key>
		<real>55.864212</real>
		<key>longitude</key>
		<real>-4.431782</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>GND</string>
		<key>name</key>
		<string>Grenada</string>
		<key>capsname</key>
		<string>GRENADA</string>
		<key>latitude</key>
		<real>12.15</real>
		<key>longitude</key>
		<real>-61.61667</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>HAM</string>
		<key>name</key>
		<string>Hamburg</string>
		<key>capsname</key>
		<string>HAMBURG</string>
		<key>latitude</key>
		<real>53.63128</real>
		<key>longitude</key>
		<real>10.006414</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>HAV</string>
		<key>name</key>
		<string>Havana</string>
		<key>capsname</key>
		<string>HAVANA</string>
		<key>latitude</key>
		<real>22.99845</real>
		<key>longitude</key>
		<real>-82.40818</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>HKG</string>
		<key>name</key>
		<string>Hong Kong</string>
		<key>capsname</key>
		<string>HONG KONG</string>
		<key>latitude</key>
		<real>22.315248</real>
		<key>longitude</key>
		<real>113.93649</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>IAD</string>
		<key>name</key>
		<string>Washington DC</string>
		<key>capsname</key>
		<string>WASHINGTON DC</string>
		<key>latitude</key>
		<real>38.95315</real>
		<key>longitude</key>
		<real>-77.44774</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>ICN</string>
		<key>name</key>
		<string>Incheon</string>
		<key>capsname</key>
		<string>INCHEON</string>
		<key>latitude</key>
		<real>37.448524</real>
		<key>longitude</key>
		<real>126.45123</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>JFK</string>
		<key>name</key>
		<string>New York JFK</string>
		<key>capsname</key>
		<string>NEW YORK JFK</string>
		<key>latitude</key>
		<real>40.642334</real>
		<key>longitude</key>
		<real>-73.78816999999999</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>JNB</string>
		<key>name</key>
		<string>Johannesburg</string>
		<key>capsname</key>
		<string>JOHANNESBURG</string>
		<key>latitude</key>
		<real>-26.132664</real>
		<key>longitude</key>
		<real>28.231314</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>KEF</string>
		<key>name</key>
		<string>Keflavík</string>
		<key>capsname</key>
		<string>KEFLAVÍK</string>
		<key>latitude</key>
		<real>63.997765</real>
		<key>longitude</key>
		<real>-22.624283</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>KHI</string>
		<key>name</key>
		<string>Karachi</string>
		<key>capsname</key>
		<string>KARACHI</string>
		<key>latitude</key>
		<real>24.899986</real>
		<key>longitude</key>
		<real>67.16828</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>KIN</string>
		<key>name</key>
		<string>Kingston</string>
		<key>capsname</key>
		<string>KINGSTON</string>
		<key>latitude</key>
		<real>17.991632</real>
		<key>longitude</key>
		<real>-76.82344399999999</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>KWI</string>
		<key>name</key>
		<string>Kuwait</string>
		<key>capsname</key>
		<string>KUWAIT</string>
		<key>latitude</key>
		<real>29.240116</real>
		<key>longitude</key>
		<real>47.971252</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>LAS</string>
		<key>name</key>
		<string>Las Vegas</string>
		<key>capsname</key>
		<string>LAS VEGAS</string>
		<key>latitude</key>
		<real>36.086945</real>
		<key>longitude</key>
		<real>-115.1486</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>LAX</string>
		<key>name</key>
		<string>Los Angeles</string>
		<key>capsname</key>
		<string>LOS ANGELES</string>
		<key>latitude</key>
		<real>33.943398</real>
		<key>longitude</key>
		<real>-118.40828</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>LGW</string>
		<key>name</key>
		<string>London Gatwick</string>
		<key>capsname</key>
		<string>LONDON GATWICK</string>
		<key>latitude</key>
		<real>51.156807</real>
		<key>longitude</key>
		<real>-0.161863</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>LHE</string>
		<key>name</key>
		<string>Lahore</string>
		<key>capsname</key>
		<string>LAHORE</string>
		<key>latitude</key>
		<real>31.520832</real>
		<key>longitude</key>
		<real>74.40278000000001</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>LHR</string>
		<key>name</key>
		<string>London Heathrow</string>
		<key>capsname</key>
		<string>LONDON HEATHROW</string>
		<key>latitude</key>
		<real>51.469604</real>
		<key>longitude</key>
		<real>-0.453566</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>LOS</string>
		<key>name</key>
		<string>Lagos</string>
		<key>capsname</key>
		<string>LAGOS</string>
		<key>latitude</key>
		<real>6.577871</real>
		<key>longitude</key>
		<real>3.321178</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>LTN</string>
		<key>name</key>
		<string>London Luton</string>
		<key>capsname</key>
		<string>LONDON LUTON</string>
		<key>latitude</key>
		<real>51.87977</real>
		<key>longitude</key>
		<real>-0.376232</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>MAN</string>
		<key>name</key>
		<string>Manchester</string>
		<key>capsname</key>
		<string>MANCHESTER</string>
		<key>latitude</key>
		<real>53.362907</real>
		<key>longitude</key>
		<real>-2.273354</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>MBJ</string>
		<key>name</key>
		<string>Montego Bay</string>
		<key>capsname</key>
		<string>MONTEGO BAY</string>
		<key>latitude</key>
		<real>18.474725</real>
		<key>longitude</key>
		<real>-77.91709899999999</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>MCO</string>
		<key>name</key>
		<string>Orlando</string>
		<key>capsname</key>
		<string>ORLANDO</string>
		<key>latitude</key>
		<real>28.432177</real>
		<key>longitude</key>
		<real>-81.30830400000001</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>MEL</string>
		<key>name</key>
		<string>Melbourne</string>
		<key>capsname</key>
		<string>MELBOURNE</string>
		<key>latitude</key>
		<real>-37.669613</real>
		<key>longitude</key>
		<real>144.84978</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>MIA</string>
		<key>name</key>
		<string>Miami</string>
		<key>capsname</key>
		<string>MIAMI</string>
		<key>latitude</key>
		<real>25.796</real>
		<key>longitude</key>
		<real>-80.27824</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>MKE</string>
		<key>name</key>
		<string>Milwaukee</string>
		<key>capsname</key>
		<string>MILWAUKEE</string>
		<key>latitude</key>
		<real>42.948093</real>
		<key>longitude</key>
		<real>-87.90267</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>MRU</string>
		<key>name</key>
		<string>Mauritius</string>
		<key>capsname</key>
		<string>MAURITIUS</string>
		<key>latitude</key>
		<real>-20.431997</real>
		<key>longitude</key>
		<real>57.67663</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>MSE</string>
		<key>name</key>
		<string>Kent</string>
		<key>capsname</key>
		<string>KENT</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>NBO</string>
		<key>name</key>
		<string>Nairobi</string>
		<key>capsname</key>
		<string>NAIROBI</string>
		<key>latitude</key>
		<real>-1.319167</real>
		<key>longitude</key>
		<real>36.92578</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>NRT</string>
		<key>name</key>
		<string>Tokyo</string>
		<key>capsname</key>
		<string>TOKYO</string>
		<key>latitude</key>
		<real>35.773212</real>
		<key>longitude</key>
		<real>140.38744</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>ORD</string>
		<key>name</key>
		<string>Chicago</string>
		<key>capsname</key>
		<string>CHICAGO</string>
		<key>latitude</key>
		<real>41.9762</real>
		<key>longitude</key>
		<real>-87.990326</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>PER</string>
		<key>name</key>
		<string>Perth</string>
		<key>capsname</key>
		<string>PERTH</string>
		<key>latitude</key>
		<real>-31.933603</real>
		<key>longitude</key>
		<real>115.960236</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>PIT</string>
		<key>name</key>
		<string>Pittsburgh</string>
		<key>capsname</key>
		<string>PITTSBURGH</string>
		<key>latitude</key>
		<real>40.49585</real>
		<key>longitude</key>
		<real>-80.25657</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>PVG</string>
		<key>name</key>
		<string>Shanghai</string>
		<key>capsname</key>
		<string>SHANGHAI</string>
		<key>latitude</key>
		<real>31.151825</real>
		<key>longitude</key>
		<real>121.799805</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>SCL</string>
		<key>name</key>
		<string>Santiago</string>
		<key>capsname</key>
		<string>SANTIAGO</string>
		<key>latitude</key>
		<real>-33.397175</real>
		<key>longitude</key>
		<real>-70.79382</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>SFO</string>
		<key>name</key>
		<string>San Francisco</string>
		<key>capsname</key>
		<string>SAN FRANCISCO</string>
		<key>latitude</key>
		<real>37.615215</real>
		<key>longitude</key>
		<real>-122.38988</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>SJU</string>
		<key>name</key>
		<string>San Juan</string>
		<key>capsname</key>
		<string>SAN JUAN</string>
		<key>latitude</key>
		<real>18.437403</real>
		<key>longitude</key>
		<real>-66.004684</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>SYD</string>
		<key>name</key>
		<string>Sydney</string>
		<key>capsname</key>
		<string>SYDNEY</string>
		<key>latitude</key>
		<real>-33.932922</real>
		<key>longitude</key>
		<real>151.1799</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>TAB</string>
		<key>name</key>
		<string>Tobago</string>
		<key>capsname</key>
		<string>TOBAGO</string>
		<key>latitude</key>
		<real>11.152541</real>
		<key>longitude</key>
		<real>-60.839684</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>TPA</string>
		<key>name</key>
		<string>Florida</string>
		<key>capsname</key>
		<string>FLORIDA</string>
		<key>latitude</key>
		<real>27.97987</real>
		<key>longitude</key>
		<real>-82.535416</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>UVF</string>
		<key>name</key>
		<string>St Lucia</string>
		<key>capsname</key>
		<string>ST LUCIA</string>
		<key>latitude</key>
		<real>13.735556</real>
		<key>longitude</key>
		<real>-60.95222</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>VIE</string>
		<key>name</key>
		<string>Vienna</string>
		<key>capsname</key>
		<string>VIENNA</string>
		<key>latitude</key>
		<real>48.11972</real>
		<key>longitude</key>
		<real>16.563583</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>YOW</string>
		<key>name</key>
		<string>Ottawa</string>
		<key>capsname</key>
		<string>OTTAWA</string>
		<key>latitude</key>
		<real>45.32083</real>
		<key>longitude</key>
		<real>-75.67277</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>YUL</string>
		<key>name</key>
		<string>Quebec</string>
		<key>capsname</key>
		<string>QUEBEC</string>
		<key>latitude</key>
		<real>45.457714</real>
		<key>longitude</key>
		<real>-73.74991</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>YWG</string>
		<key>name</key>
		<string>Winnipeg</string>
		<key>capsname</key>
		<string>WINNIPEG</string>
		<key>latitude</key>
		<real>49.9</real>
		<key>longitude</key>
		<real>-97.23333</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>YYC</string>
		<key>name</key>
		<string>Calgary</string>
		<key>capsname</key>
		<string>CALGARY</string>
		<key>latitude</key>
		<real>51.131393</real>
		<key>longitude</key>
		<real>-114.01055</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>ATL</string>
		<key>name</key>
		<string>Atlanta</string>
		<key>capsname</key>
		<string>ATLANTA</string>
		<key>latitude</key>
		<real>33.640833</real>
		<key>longitude</key>
		<real>-84.427222</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>BEY</string>
		<key>name</key>
		<string>Beirut</string>
		<key>capsname</key>
		<string>BEIRUT</string>
		<key>latitude</key>
		<real>33.812777</real>
		<key>longitude</key>
		<real>35.490277</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>CBR</string>
		<key>name</key>
		<string>Canberra</string>
		<key>capsname</key>
		<string>CANBERRA</string>
		<key>latitude</key>
		<real>-35.30888888</real>
		<key>longitude</key>
		<real>149.19499999</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>ELS</string>
		<key>name</key>
		<string>East London SA</string>
		<key>capsname</key>
		<string>EAST LONDON SA</string>
		<key>latitude</key>
		<real>-33.03611111</real>
		<key>longitude</key>
		<real>27.82388888</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>HKT</string>
		<key>name</key>
		<string>Phuket</string>
		<key>capsname</key>
		<string>PHUKET</string>
		<key>latitude</key>
		<real>8.110555550000001</real>
		<key>longitude</key>
		<real>98.3125</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>IAH</string>
		<key>name</key>
		<string>Houston</string>
		<key>capsname</key>
		<string>HOUSTON</string>
		<key>latitude</key>
		<real>29.98333333</real>
		<key>longitude</key>
		<real>-95.33999999</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>PHX</string>
		<key>name</key>
		<string>Phoenix</string>
		<key>capsname</key>
		<string>PHOENIX</string>
		<key>latitude</key>
		<real>33.43611111</real>
		<key>longitude</key>
		<real>-112.00944444</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>PMI</string>
		<key>name</key>
		<string>Palma de Mallorca</string>
		<key>capsname</key>
		<string>PALMA DE MALLORCA</string>
		<key>latitude</key>
		<real>39.55361111</real>
		<key>longitude</key>
		<real>2.72777777</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>SIN</string>
		<key>name</key>
		<string>Singapore</string>
		<key>capsname</key>
		<string>SINGAPORE</string>
		<key>latitude</key>
		<real>1.35777777</real>
		<key>longitude</key>
		<real>103.99083333</real>
		<key>isPrimary</key>
		<false/>
	</dict>
	<dict>
		<key>code</key>
		<string>ACC</string>
		<key>name</key>
		<string>Accra</string>
		<key>capsname</key>
		<string>ACCRA</string>
		<key>latitude</key>
		<real>5.595278</real>
		<key>longitude</key>
		<real>-0.1708</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>YVR</string>
		<key>name</key>
		<string>Vancouver</string>
		<key>capsname</key>
		<string>VANCOUVER</string>
		<key>latitude</key>
		<real>49.26646</real>
		<key>longitude</key>
		<real>-123.11554</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>CUN</string>
		<key>name</key>
		<string>Cancún</string>
		<key>capsname</key>
		<string>CANCUN</string>
		<key>latitude</key>
		<real>22.156883</real>
		<key>longitude</key>
		<real>-86.550293</real>
		<key>isPrimary</key>
		<true/>
	</dict>
	<dict>
		<key>code</key>
		<string>ABZ</string>
		<key>name</key>
		<string>Aberdeen</string>
		<key>capsname</key>
		<string>ABERDEEN</string>
		<key>latitude</key>
		<real>57.200493</real>
		<key>longitude</key>
		<real>-2.203434</real>
		<key>isPrimary</key>
		<true/>
	</dict>
</array>
</plist>
